<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Paiement Facilys</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
</head>

<body>

    <main>
        <section class="pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-12" style="margin-top: 20%;">
                        <div class="product-cart-wrap mb-30 text-center">
                            <div class="hero-card-icon d-block mx-auto hover-up mt-30">
                                <img class="text-center" src="/imgs/theme/banking.png" alt="payment" style="width: 65px;">
                            </div>
                            <div class="pl-30 mt-2 mb-3">
                                <h4 class="mb-5 fw-500">
                                    Paiement Réussi
                                </h4>
                                <p class="text-grey-3">Merci pour votre achat ! Votre paiement a été effectué avec succès. Vous recevrez un email de confirmation sous peu.</p>
                            </div>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated animated mb-20">
                                <a href="/" class="btn btn-success">Accueil</a>
                                <a href="/account" class="btn btn-outline-success">Mon compte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Chargement</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>
    <script src="/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/js/maind134.js?v=3.4"></script>
    <script src="/js/shopd134.js?v=3.4"></script>

</body>

</html>