<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys | Politique de confidentialité</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
</head>

<body>
    <header class="header-area header-style-1 header-height-2"></header>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap d-flex justify-content-around">
                    <div class="logo">
                        <a href="/"><img src="/favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/login">
                                        <i class="iconoir-user"></i>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopping-cart">
                                        <i class="iconoir-cart"></i>
                                        <span class="pro-count blue">2</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="justify-content-center header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="/">Boutique</a></li>
                                    <li>
                                        <a href="/about">À propos de nous</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/login">
                                    <i class="iconoir-user text-7"></i>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopping-cart">
                                    <i class="iconoir-cart text-7"></i>
                                    <span class="pro-count blue">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%- include('partials/nav-mobile') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Politique de confidentialité
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-page pr-30">
                            <div class="single-header style-2">
                                <h2>Privacy Policy</h2>
                                <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                    <span class="post-by">By <a href="#">OnyxSutdio</a></span>
                                    <span class="post-on has-dot">24/09/2024</span>
                                    <span class="time-reading has-dot">8 mins read</span>
                                    <span class="hit-count has-dot">69k Views</span>
                                </div>
                            </div>
                            <div class="single-content">
                                <h4>Politique de Confidentialité</h4>
                                <p>Bienvenue sur la politique de confidentialité, notre application, qui s’applique
                                    à tous les utilisateurs et visiteurs de notre site et de l’application associée.
                                </p>
                                <p>Types de Données Personnelles Collectées</p>

                                <h4>Nous recueillons certaines informations personnelles concernant les utilisateurs de
                                    notre site et application, notamment :</h4>
                                <ol start="1">
                                    <li>Nom, adresse e-mail, informations de facturation, et autres détails de contact.
                                    </li>
                                    <li>Données transactionnelles liées à vos achats et abonnements.</li>
                                    <li>Informations sur les appareils utilisés pour accéder à notre site ou application
                                        (adresse IP, navigateur, etc.).</li>
                                </ol>

                                <h4>Comment Nous Collectons Vos Données</h4>
                                <h5>Nous collectons vos données personnelles de plusieurs façons :</h5>
                                <ol start="4">
                                    <li>Directement, lorsque vous créez un compte, achetez un produit, ou interagissez
                                        avec nous (via formulaires, e-mails, etc.).</li>
                                    <li>Automatiquement, lorsque vous naviguez sur notre site ou utilisez l’application.
                                    </li>
                                    <li>Indirectement, à travers des tiers comme les prestataires de paiement.</li>
                                </ol>
                                <h4>Utilisation de Vos Données</h4>
                                <h5>Vos données sont utilisées pour :</h5>
                                <ol start="7">
                                <li>Traiter vos commandes et gérer votre compte.</li>
                                <li>Personnaliser votre expérience sur notre site.</li>
                                <li>Indirectement, à travers des tiers comme les prestataires de paiement.</li>
                                <li>Améliorer nos services et fonctionnalités, y compris les mises à jour de
                                    l’application.</li>
                                <li>Répondre à vos demandes d'assistance ou aux éventuels litiges.</li>
                                <li>Vous envoyer des communications marketing (si vous y avez consenti).</li>
                                </ol>
                                <h4>Partage de Vos Informations</h4>
                                <h5>Nous partageons vos informations avec :</h5>
                                <ol start="13">
                                    <li>Les prestataires de services qui nous aident à héberger le site, traiter les
                                        paiements, et offrir un support client.</li>
                                    <li>Les autorités si la loi l’exige.</li>
                                    <li>Des partenaires publicitaires pour des campagnes ciblées (avec votre
                                        consentement).</li>
                                </ol>
                                <h4> Sécurité de Vos Données</h4>
                                <p>
                                    Nous prenons des mesures pour sécuriser vos informations personnelles, telles que
                                    l’utilisation du cryptage et l’authentification à deux facteurs.
                                    Conservation de Vos Données</p>
                                <p>
                                    Nous conservons vos données aussi longtemps que nécessaire pour vous fournir nos
                                    services ou pour respecter les obligations légales.</p>

                                <h4>Vos Droits</h4>

                                <h5>Vous pouvez :</h5>

                                <ol start="16">
                                    <li> Accéder à vos informations personnelles.</li>
                                    <li>Corriger ou mettre à jour vos données.</li>
                                    <li> Demander la suppression de vos informations.</li>
                                </ol>
                                <h4>Cookies et Technologies Similaires</h4>
                                <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site,
                                    personnaliser
                                    les publicités, et réaliser des analyses. Vous pouvez ajuster vos préférences de
                                    cookies
                                    via votre navigateur.</p>

                                <h4>Contact</h4>
                               <p>Pour toute question relative à cette politique de confidentialité, vous pouvez
                                        nous
                                        contacter à master@gpauto60.fr.
                                    </p>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <%- include('partials/footer') %>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-10">Chargement</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor JS-->
        <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/js/plugins/slick.js"></script>
        <script src="/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/js/plugins/wow.js"></script>
        <script src="/js/plugins/jquery-ui.js"></script>
        <script src="/js/plugins/perfect-scrollbar.js"></script>
        <script src="/js/plugins/magnific-popup.js"></script>
        <script src="/js/plugins/select2.min.js"></script>
        <script src="/js/plugins/waypoints.js"></script>
        <script src="/js/plugins/counterup.js"></script>
        <script src="/js/plugins/jquery.countdown.min.js"></script>
        <script src="/js/plugins/images-loaded.js"></script>
        <script src="/js/plugins/isotope.js"></script>
        <script src="/js/plugins/scrollup.js"></script>
        <script src="/js/plugins/jquery.vticker-min.js"></script>
        <script src="/js/plugins/jquery.theia.sticky.js"></script>
        <script src="/js/plugins/jquery.elevatezoom.js"></script>
        <!-- Template  JS -->
        <script src="/js/maind134.js?v=3.4"></script>
        <script src="/js/shopd134.js?v=3.4"></script>


</body>

</html>