/SiteWebFacilys/src/config/
/SiteWebFacilys/node_modules/
/AppFacilys/Facilys/.vs
/AppFacilys/Facilys/obj/
/AppFacilys/Facilys/Facilys/bin/

/SiteWeb-Facilys-V2/src/config
/SiteWeb-Facilys-V2/.env

node_modules/
**/node_modules/
**/obj/

