/SiteWebFacilys/src/config/
/SiteWebFacilys/node_modules/
/SiteWebFacilys/.env
/AppFacilys/Facilys/.vs
/AppFacilys/Facilys/obj/
/AppFacilys/Facilys/Facilys/bin/

./SiteWebFacilys.7z

node_modules/
**/node_modules/
**/obj/

