
<!DOCTYPE html>

<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys | Conditions d'utilisation</title>
    <meta name="author" content="FilleuxStudio">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Créer un nouveau compte">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/sib-styles.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon and Touch Icons  -->
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

</head>

<body class="preload-wrapper">
   
    <!-- RTL -->
    <a href="javascript:void(0);" id="toggle-rtl" class="btn-style-2 radius-3"><span>RTL</span></a>
    <!-- /RTL  -->
    
    <!-- Scroll Top -->
    <button id="scroll-top">
        <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15741_24194)">
            <path d="M3 11.9175L12 2.91748L21 11.9175H16.5V20.1675C16.5 20.3664 16.421 20.5572 16.2803 20.6978C16.1397 20.8385 15.9489 20.9175 15.75 20.9175H8.25C8.05109 20.9175 7.86032 20.8385 7.71967 20.6978C7.57902 20.5572 7.5 20.3664 7.5 20.1675V11.9175H3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <defs>
            <clippath id="clip0_15741_24194">
            <rect width="24" height="24" fill="white" transform="translate(0 0.66748)"></rect>
            </clippath>
            </defs>
        </svg> 
    </button>

    <!-- preload -->
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /preload -->

    <!-- #wrapper -->
    <div id="wrapper">

         <!-- Header -->
         <%- include('partials/header') %>
         <!-- /Header --> 

        <!-- page-title -->
        <div class="page-title" style="background-image: url(images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">Conditions d'utilisation</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" href="/">Boutique</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                Conditions d'utilisation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- Conditions d'utilisation -->
<section class="flat-spacing">
    <div class="container">
        <div class="terms-of-use-wrap">
            <div class="left sticky-top">
                <h6 class="btn-scroll-target active" data-scroll="terms">1. Conditions</h6>
                <h6 class="btn-scroll-target" data-scroll="limitations">2. Limitations</h6>
                <h6 class="btn-scroll-target" data-scroll="revisions-and-errata">3. Révisions et errata</h6>
                <h6 class="btn-scroll-target" data-scroll="site-terms">4. Modifications des conditions d'utilisation du site</h6>
                <h6 class="btn-scroll-target" data-scroll="risks">5. Risques</h6>
                <h6 class="btn-scroll-target" data-scroll="rgpd">6. RGPD</h6>
            </div>
            <div class="right">
                <h4 class="heading">Conditions d'utilisation</h4>
                <div class="terms-of-use-item item-scroll-target" data-scroll="terms">
                    <h5 class="terms-of-use-title">1. Conditions</h5>
                    <div class="terms-of-use-content">
                        <p>En utilisant l'application Facylis et le site associé, vous acceptez de respecter ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser nos services.</p>
                        <p>Facylis se réserve le droit de modifier ces conditions à tout moment. Les modifications prendront effet dès leur publication sur le site.</p>
                    </div>
                </div>
                <div class="terms-of-use-item item-scroll-target" data-scroll="limitations">
                    <h5 class="terms-of-use-title">2. Limitations</h5>
                    <div class="terms-of-use-content">
                        <p>Facylis ne pourra être tenu responsable des dommages directs ou indirects résultant de l'utilisation de l'application ou du site, y compris mais sans s'y limiter, la perte de données ou de profits.</p>
                        <p>Vous vous engagez à ne pas utiliser l'application à des fins illégales ou non autorisées.</p>
                    </div>
                </div>
                <div class="terms-of-use-item item-scroll-target" data-scroll="revisions-and-errata">
                    <h5 class="terms-of-use-title">3. Révisions et errata</h5>
                    <div class="terms-of-use-content">
                        <p>Les informations fournies sur le site peuvent contenir des erreurs typographiques ou techniques. Facylis se réserve le droit de corriger ces erreurs et de modifier les informations à tout moment sans préavis.</p>
                    </div>
                </div>
                <div class="terms-of-use-item item-scroll-target" data-scroll="site-terms">
                    <h5 class="terms-of-use-title">4. Modifications des conditions d'utilisation du site</h5>
                    <div class="terms-of-use-content">
                        <p>Facylis peut modifier ces conditions d'utilisation du site à tout moment. Les utilisateurs seront informés des modifications par une notification sur le site.</p>
                    </div>
                </div>
                <div class="terms-of-use-item item-scroll-target" data-scroll="risks">
                    <h5 class="terms-of-use-title">5. Risques</h5>
                    <div class="terms-of-use-content">
                        <p>L'utilisation de l'application et du site se fait à vos propres risques. Facylis ne garantit pas que l'application sera exempte d'erreurs ou de virus, ni que son fonctionnement sera ininterrompu.</p>
                        <p>Il est recommandé d'utiliser un logiciel antivirus et de prendre toutes les précautions nécessaires pour protéger vos données personnelles.</p>
                    </div>
                </div>
                <div class="terms-of-use-item item-scroll-target" data-scroll="rgpd">
                    <h5 class="terms-of-use-title">6. Protection des données personnelles (RGPD)</h5>
                    <div class="terms-of-use-content">
                        <p>Facylis s'engage à protéger vos données personnelles conformément au Règlement Général sur la Protection des Données (RGPD). Nous collectons et traitons vos données uniquement dans le cadre des finalités définies lors de votre inscription et de l'utilisation de nos services.</p>
                        <p>Toutes les données collectées sont stockées de manière sécurisée, en utilisant des protocoles de chiffrement et des mesures de sécurité appropriées pour prévenir tout accès non autorisé.</p>
                        <p>Nous ne vendons, n'échangeons ni ne louons vos données personnelles à des tiers à des fins commerciales. Vos informations sont utilisées uniquement pour vous fournir nos services, améliorer votre expérience utilisateur et communiquer avec vous concernant votre compte ou nos services.</p>
                        <p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier ou de demander leur suppression à tout moment. Pour exercer ces droits, veuillez nous contacter via les coordonnées fournies sur notre site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Conditions d'utilisation -->


       <!-- Footer -->
       <%- include('partials/footer') %>
       <!-- /Footer -->
</div>

<!-- mobile menu -->
<%- include('partials/mobile-menu') %>
<!-- /mobile menu -->

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/lazysize.min.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/count-down.js"></script>
<script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/multiple-modal.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>