<!DOCTYPE html>

<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Facilys | Erreur</title>
    <meta name="author" content="FilleuxStudio">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

   <!-- font -->
   <link rel="stylesheet" href="/fonts/fonts.css">
   <link rel="stylesheet" href="/fonts/font-icons.css">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/swiper-bundle.min.css">
   <link rel="stylesheet" href="/css/animate.css">
   <link rel="stylesheet" href="/css/sib-styles.css">
   <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
</head>

<body class="">
   
    <div id="wrapper">
       
        <!-- 404 -->
        <section class="flat-spacing page-404">
            <div class="container">
                <div class="page-404-inner">
                    <div class="image">
                        <img class="lazyload" data-src="/images/section/404.png" src="/images/section/404.png" alt="image 505">
                    </div>
                    <div class="content">
                        <div class="heading">Erreur</div>
                        <div>
                            <h2 class="title mb_4">505</h2>
                            <div class="text body-text-1 text-secondary"><%= error %></div>
                        </div>
                        <a href="/" class="tf-btn btn-fill"><span class="text text-button">Retour à la page d'accueil</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /404 -->
        
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/lazysize.min.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>