@page "/Login"
@layout MainLayoutLogin
@inject AuthService AuthService

    <div class="container-xxl">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 bg-white auth-header-box rounded-top">
                                    <div class="text-center p-3">
                                        <a href="" class="logo logo-admin">
                                            <img src="/assets/images/logo-sm.png" height="80" alt="logo" class="auth-logo">
                                        </a>
                                    <h4 class="mt-3 mb-1 fw-semibold text-black fs-18">Utilisation de Facilys</h4>
                                    <p class="text-muted fw-medium mb-0">Connectez-vous pour continuer Facilys.</p>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                @if (!string.IsNullOrEmpty(errorMessage))
                                {
                                    <div class="alert alert-danger shadow-sm border-theme-white-2" role="alert">
                                        <div class="d-inline-flex justify-content-center align-items-center thumb-xs bg-danger rounded-circle mx-auto me-1">
                                            <i class="fas fa-xmark align-self-center mb-0 text-white "></i>
                                        </div>
                                        <strong>Oh oh oh!</strong> @errorMessage
                                    </div>
                                }
                                <form class="my-4" @onsubmit="HandleSubmit">
                                        <div class="form-group mb-2">
                                            <label class="form-label" for="email">Email</label>
                                        <input type="email" class="form-control" @bind="inputEmail" placeholder="Enter votre email">
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="mot de passe">Mot de passe</label>
                                        <input type="password" class="form-control" @bind="inputPassword" placeholder="Enter votre mot de passe">
                                        </div><!--end form-group-->

                                        <div class="form-group row mt-3">
                                            <div class="col-sm-6 text-end">
                                                <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Mot de passe oublié ?</a>
                                            </div><!--end col-->
                                        </div><!--end form-group-->

                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <div class="d-grid mt-3">
                                                    <button class="btn btn-primary" type="submit">Connexion <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                </div>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- container -->

@code {
    private string inputEmail;
    private string inputPassword;
    private string errorMessage;

    private async Task HandleSubmit()
    {
        errorMessage = string.Empty;
        // Empêcher le rechargement de la page
        await Task.Yield();

        if (string.IsNullOrWhiteSpace(inputEmail) || string.IsNullOrWhiteSpace(inputPassword))
        {
            errorMessage = "Veuillez remplir tous les champs.";
            return;
        }

        // Si les champs ne sont pas vides, procéder à l'authentification
        await AuthService.SetAuthenticatedAsync(inputEmail, inputPassword);
    }

}