@page "/settingInvoices"
@rendermode InteractiveServer
@inject PageTitleService PageTitleService
@inject ApplicationDbContext DbContext
@inject ILogger<SettingsInvoice> Logger
@inject IJSRuntime JSRuntime


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Paramètres de facturation</h4>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-header-->
            <div class="card-body pt-0">
                <ul class="nav nav-pills nav-justified mb-1 pb-1 border-dashed-bottom">
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link" href="/editionInvoices">Edition</NavLink>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link" href="/managerInvoices">Gestion des factures</NavLink>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link active" href="/settingInvoices">Paramètres</NavLink>
                    </li>
                </ul>

                <EditForm Model="managerInvoiceViewModel.Edition" OnValidSubmit="SubmitSaveSettingInvoice">
                    <div class="row mt-3 mb-3">
                        <div class="col-6">
                            <label for="StartNumberInvoice" class="form-label">Numéro de démarrage de la facturation <span class="text-danger">*</span></label>
                            <InputText class="form-control" type="text" @bind-Value="managerInvoiceViewModel.Edition.StartNumberInvoice" id="StartNumberInvoice" required />
                        </div>
                        <div class="col-6">
                            <label for="TVA" class="form-label">TVA pourcentage <span class="text-warning">*</span></label>
                            <InputNumber class="form-control" type="text" @bind-Value="managerInvoiceViewModel.Edition.TVA" id="TVA" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label for="PathSaveFile" class="form-label">Chemin d’enregistrement des factures et des ordres de réparation <span class="text-danger">*</span></label>
                        <InputText class="form-control" type="text" @bind-Value="managerInvoiceViewModel.Edition.PathSaveFile" id="PathSaveFile" required />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label for="PathSaveInvociePrepare" class="form-label">Chemin d’enregistrement des factures préparées <span class="text-danger">*</span></label>
                        <InputText class="form-control" type="text" @bind-Value="managerInvoiceViewModel.Edition.PathSaveInvociePrepare" id="PathSaveInvociePrepare" required />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                            <label for="PreloadedLine" class="form-label">Ligne à précharger <span class="text-warning">*</span></label>
                            <InputNumber class="form-control" type="text" @bind-Value="managerInvoiceViewModel.Edition.PreloadedLine" id="PreloadedLine" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="col-md-3 my-1 control-label">Modèle de facture <span class="text-danger">*</span></label>
                            <InputRadioGroup @bind-Value="managerInvoiceViewModel.Edition.TypeDesign" TValue="InvoiceTypeDesign" id="TypeDesign" required>
                                <div class="col-md-9 text-center">
                                    <div class="form-check form-check-inline">
                                        <InputRadio TValue="InvoiceTypeDesign" class="form-check-input" id="TypeA" Value="@InvoiceTypeDesign.TypeA" />
                                        <label class="form-check-label" for="TypeA">Style 1</label>
                                        <img src="assets/images/products/t1.png" alt="type facture 1" class="rounded d-block mx-auto border" style="width:150px">
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <InputRadio TValue="InvoiceTypeDesign" class="form-check-input" id="TypeB" Value="@InvoiceTypeDesign.TypeB" />
                                        <label class="form-check-label" for="TypeB">Style 2</label>
                                        <img src="assets/images/products/t2.png" alt="type facture 2" class="rounded d-block mx-auto border" style="width:150px">
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <InputRadio TValue="InvoiceTypeDesign" class="form-check-input" id="TypeC" Value="@InvoiceTypeDesign.TypeC" />
                                        <label class="form-check-label" for="TypeC">Style 3</label>
                                        <img src="assets/images/products/t3.png" alt="type facture 3" class="rounded d-block mx-auto border" style="width:150px">
                                    </div>
                                </div>
                            </InputRadioGroup>

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="form-label" for="SentenceInformationTop">Phrase d’information pour l’en-tête de la facture</label>
                        <InputTextArea class="form-control" rows="5" id="SentenceInformationTop" style="height: 143px; " @bind-Value="managerInvoiceViewModel.Edition.SentenceInformationTop" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="form-label" for="SentenceInformationBottom">Phrase d’information pour le pied de page de la facture</label>
                        <InputTextArea class="form-control" rows="5" id="SentenceInformationBottom" style="height: 143px; " @bind-Value="managerInvoiceViewModel.Edition.SentenceInformationBottom" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="form-label" for="SentenceBottom">Phrase d’information pour le bas de la facture</label>
                        <InputTextArea class="form-control" rows="5" id="SentenceBottom" style="height: 143px; " @bind-Value="managerInvoiceViewModel.Edition.SentenceBottom" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="form-label" for="RepairOrderSentenceTop">Phrase d’information de l'ordre de réparation</label>
                        <InputTextArea class="form-control" rows="5" id="RepairOrderSentenceTop" style="height: 143px; " @bind-Value="managerInvoiceViewModel.Edition.RepairOrderSentenceTop" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                        <label class="form-label" for="RepairOrderSentenceBottom">Phrase d’information pour le pied de page de l'ordre de réparation</label>
                        <InputTextArea class="form-control" rows="5" id="RepairOrderSentenceBottom" style="height: 143px; " @bind-Value="managerInvoiceViewModel.Edition.RepairOrderSentenceBottom" />
                        </div>
                    </div>
                    <input type="hidden" value="@managerInvoiceViewModel.Edition.Id" id="Id" />
                    <button type="submit" class="btn btn-primary px-4">Enregistrer les modifications</button>
                </EditForm>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
